.banner {
	display: flex;
	background-color: rgb(0, 150, 130);
	width: 100%;
	font-size: x-large;
}

@media (max-width: 559px) {
	.banner {
		height: fit-content;
		flex-direction: row;
	}
	section {
		align-items: flex-start !important;
		flex-direction: column;
		justify-content: space-around;
	}
}

@media (min-width: 560px) {
	.banner {
		height: calc(var(--spacing) * 3);
		flex-direction: row;
	}
}

section.left {
	align-items: center;
}

/* This should move the link buttons all the way to the right */
section.right {
	margin-left: auto;
}